In [1]:
import pandas as pd
import json

In [11]:
data = ''

In [23]:
df = pd.DataFrame()

In [24]:
for i in range(5):
    data = 'nsmc_raw_excel_'+str(i)+'.xlsx'
    tmp = pd.read_excel(data, header=None)
    part = pd.DataFrame(tmp)
    df = df.append(part)

In [25]:
df

,0,1,2,3,4,5
0,0,전체관람가는 아닌것 같아요,10,0,I don't think I'm an entire spectator,10
1,1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,10,One,"It's almost 3 hours from the director's cut, b...",10
2,2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,10,2,"It was the first time I was born, and it was a...",10
3,3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,10,3,It's definitely different from what I saw when...,10
4,4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,10,4,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...,...,...,...
112377,712377,재미있게생겼다.엄청,10,712377,It looks fun.,10
112378,712378,해맑은 젖통이ㅇ얌ㅇㅇ,10,712378,The sunny udder,10
112379,712379,"이분들은 우리나라를 대표하는 크리에이터,,,...",10,712379,"These are the creators of Korea,...",10
112380,712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",10,712380,It's the first time I've ever had a Lori chara...,10
112381,712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,7,712381,The truth that every mother in the world loves...,7

In [26]:
df.columns = ['idx','kor','ratings','idx2','eng','rat2']

In [27]:
df

,idx,kor,ratings,idx2,eng,rat2
0,0,전체관람가는 아닌것 같아요,10,0,I don't think I'm an entire spectator,10
1,1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,10,One,"It's almost 3 hours from the director's cut, b...",10
2,2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,10,2,"It was the first time I was born, and it was a...",10
3,3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,10,3,It's definitely different from what I saw when...,10
4,4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,10,4,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...,...,...,...
112377,712377,재미있게생겼다.엄청,10,712377,It looks fun.,10
112378,712378,해맑은 젖통이ㅇ얌ㅇㅇ,10,712378,The sunny udder,10
112379,712379,"이분들은 우리나라를 대표하는 크리에이터,,,...",10,712379,"These are the creators of Korea,...",10
112380,712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",10,712380,It's the first time I've ever had a Lori chara...,10
112381,712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,7,712381,The truth that every mother in the world loves...,7

In [28]:
df.drop(['idx', 'idx2', 'rat2'], axis=1, inplace=True)

In [29]:
df

,kor,ratings,eng
0,전체관람가는 아닌것 같아요,10,I don't think I'm an entire spectator
1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,10,"It's almost 3 hours from the director's cut, b..."
2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,10,"It was the first time I was born, and it was a..."
3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,10,It's definitely different from what I saw when...
4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,10,"Alfredo, who wants to show Toto a wide world....."
...,...,...,...
112377,재미있게생겼다.엄청,10,It looks fun.
112378,해맑은 젖통이ㅇ얌ㅇㅇ,10,The sunny udder
112379,"이분들은 우리나라를 대표하는 크리에이터,,,...",10,"These are the creators of Korea,..."
112380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",10,It's the first time I've ever had a Lori chara...
112381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,7,The truth that every mother in the world loves...

In [30]:
df.reset_index(inplace=True)

In [31]:
df

,index,kor,ratings,eng
0,0,전체관람가는 아닌것 같아요,10,I don't think I'm an entire spectator
1,1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,10,"It's almost 3 hours from the director's cut, b..."
2,2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,10,"It was the first time I was born, and it was a..."
3,3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,10,It's definitely different from what I saw when...
4,4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,10,"Alfredo, who wants to show Toto a wide world....."
...,...,...,...,...
712377,112377,재미있게생겼다.엄청,10,It looks fun.
712378,112378,해맑은 젖통이ㅇ얌ㅇㅇ,10,The sunny udder
712379,112379,"이분들은 우리나라를 대표하는 크리에이터,,,...",10,"These are the creators of Korea,..."
712380,112380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",10,It's the first time I've ever had a Lori chara...
712381,112381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,7,The truth that every mother in the world loves...

In [33]:
df.drop('index', axis=1, inplace=True)

In [34]:
df

,kor,ratings,eng
0,전체관람가는 아닌것 같아요,10,I don't think I'm an entire spectator
1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,10,"It's almost 3 hours from the director's cut, b..."
2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,10,"It was the first time I was born, and it was a..."
3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,10,It's definitely different from what I saw when...
4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,10,"Alfredo, who wants to show Toto a wide world....."
...,...,...,...
712377,재미있게생겼다.엄청,10,It looks fun.
712378,해맑은 젖통이ㅇ얌ㅇㅇ,10,The sunny udder
712379,"이분들은 우리나라를 대표하는 크리에이터,,,...",10,"These are the creators of Korea,..."
712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",10,It's the first time I've ever had a Lori chara...
712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,7,The truth that every mother in the world loves...

In [39]:
df = df[['kor','eng','ratings']]

In [40]:
df

,kor,eng,ratings
0,전체관람가는 아닌것 같아요,I don't think I'm an entire spectator,10
1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,"It's almost 3 hours from the director's cut, b...",10
2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,"It was the first time I was born, and it was a...",10
3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,It's definitely different from what I saw when...,10
4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...
712377,재미있게생겼다.엄청,It looks fun.,10
712378,해맑은 젖통이ㅇ얌ㅇㅇ,The sunny udder,10
712379,"이분들은 우리나라를 대표하는 크리에이터,,,...","These are the creators of Korea,...",10
712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",It's the first time I've ever had a Lori chara...,10
712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,The truth that every mother in the world loves...,7

In [41]:
df.isnull().sum()

kor        5
eng        3
ratings    0
dtype: int64

In [42]:
df.dropna(inplace=True)

<ipython-input-42-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [43]:
df

,kor,eng,ratings
0,전체관람가는 아닌것 같아요,I don't think I'm an entire spectator,10
1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,"It's almost 3 hours from the director's cut, b...",10
2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,"It was the first time I was born, and it was a...",10
3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,It's definitely different from what I saw when...,10
4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...
712377,재미있게생겼다.엄청,It looks fun.,10
712378,해맑은 젖통이ㅇ얌ㅇㅇ,The sunny udder,10
712379,"이분들은 우리나라를 대표하는 크리에이터,,,...","These are the creators of Korea,...",10
712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",It's the first time I've ever had a Lori chara...,10
712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,The truth that every mother in the world loves...,7

In [44]:
df.reset_index(inplace=True)

In [45]:
df

,index,kor,eng,ratings
0,0,전체관람가는 아닌것 같아요,I don't think I'm an entire spectator,10
1,1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,"It's almost 3 hours from the director's cut, b...",10
2,2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,"It was the first time I was born, and it was a...",10
3,3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,It's definitely different from what I saw when...,10
4,4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...,...
712372,712377,재미있게생겼다.엄청,It looks fun.,10
712373,712378,해맑은 젖통이ㅇ얌ㅇㅇ,The sunny udder,10
712374,712379,"이분들은 우리나라를 대표하는 크리에이터,,,...","These are the creators of Korea,...",10
712375,712380,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",It's the first time I've ever had a Lori chara...,10
712376,712381,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,The truth that every mother in the world loves...,7

In [46]:
df.drop('index', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [47]:
df

,kor,eng,ratings
0,전체관람가는 아닌것 같아요,I don't think I'm an entire spectator,10
1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,"It's almost 3 hours from the director's cut, b...",10
2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,"It was the first time I was born, and it was a...",10
3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,It's definitely different from what I saw when...,10
4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,"Alfredo, who wants to show Toto a wide world.....",10
...,...,...,...
712372,재미있게생겼다.엄청,It looks fun.,10
712373,해맑은 젖통이ㅇ얌ㅇㅇ,The sunny udder,10
712374,"이분들은 우리나라를 대표하는 크리에이터,,,...","These are the creators of Korea,...",10
712375,"내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...",It's the first time I've ever had a Lori chara...,10
712376,세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...,The truth that every mother in the world loves...,7

In [ ]:
df.to_excel('nsmc_translation.xlsx', encoding='utf8', engine='xlsxwriter')

In [50]:
df.isnull().sum()

kor        0
eng        0
ratings    0
dtype: int64